## Python Data structures

+ If you want ed to store a group of individual objects in a single entity,then you should go for data structures.

#### Sequence of elements
#### list data structure
#### In list insertion order is preserved or fixed
#### Duplicate elements are allowed.
#### List having mutable nature.

> list is a predefined class in python.
> On ce if we create list object means internally object is creating for list
class.

In [2]:
#example

a = []
print(a)
print(type(a))

[]
<class 'list'>

+ Creating list with elements

In [3]:
numbers = [10, 20, 30, 40]
print(numbers)

[10, 20, 30, 40]

+ Creating list with same type of elements with duplicates

In [5]:
numbers = [10, 20, 30, 40, 10, 20, 30, 40]
print(numbers)

[10, 20, 30, 40, 10, 20, 30, 40]

In [7]:
names = ["Daniel ", "Prasad", "Ramesh", "daniel"]
print(names)

['Daniel ', 'Prasad', 'Ramesh', 'daniel']

+ Creating list with different type of elements

In [9]:
student_info = [" Daniel ", 10, 35.9]
print(student_info)

[' Daniel ', 10, 35.9]

In [12]:

r = range(10)

In [13]:
t = list(r)

+ Creating list by using list( p ) function

In [15]:
t

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

+ List having mutable nature

In [20]:
a= [1, 2, 3, 4, 5]
print(a)
print("Before modifying a[0] :", a[0])

a[0]=20
print("After modifying a[0] : ",a[0])
print(a)

[1, 2, 3, 4, 5]
Before modifying a[0] : 1
After modifying a[0] :  20
[20, 2, 3, 4, 5]

In [32]:
a[::-1]

[5, 4, 3, 2, 20]

In [33]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [34]:
n = [1, 2, 3, 4, 5, 5, 5, 3]
print(n.count(5))
print(n.count(2))

3
1

In [35]:
a=[]
a.append(10)
a.append(20)
a.append(30)
print(a)

[10, 20, 30]

In [36]:
a=[ 20, 30, 40, 50]
a.insert(0,76)
print(a)

[76, 20, 30, 40, 50]

## 9.4. remove(p) method:
+ remove p is a predefine d method in list class
+ We should access this method by using list object.
+ By using this method we can remove value from list.

In [37]:
# example

a=[10 , 20, 30]
a.remove(10)
print(a)

[20, 30]

In [38]:
a.reverse()

In [40]:
b = [11,12,13,14,15,16,17,18,19]

In [41]:
b.reverse()
print(b)

[19, 18, 17, 16, 15, 14, 13, 12, 11]

In [42]:
b

[19, 18, 17, 16, 15, 14, 13, 12, 11]

In [43]:
b.sort()

In [44]:
b

[11, 12, 13, 14, 15, 16, 17, 18, 19]

In [47]:
names = ['Daniel', 'Ramesh', 'Arjun']

In [48]:
names.sort()

In [49]:
names

['Arjun', 'Daniel', 'Ramesh']

+  (+)operator concatenates the lists

In [51]:
a = [10 , 20 , 30]
b = [40 , 50 , 60]
c = a + b
print(c)

[10, 20, 30, 40, 50, 60]

In [53]:
a*2

[10, 20, 30, 10, 20, 30]

In [54]:
D = [91,68,12,61,84]
84 in D

True

In [55]:
12 in D

True

In [57]:
12 not in D

False

In [58]:
20 not in D

True

# List Comprehension

+ Syntax

> list = [expression for item1 in iterable1 if statement]

In [61]:
# example

values = [10,20,30]
result = [value+2 for value in values]

In [62]:
result

[12, 22, 32]

In [64]:
# example2

values = [10,20,30]

result = [value*3 for value in values]
print(result)

[30, 60, 90]

In [71]:
# example3
num = range(10,100,10)
values = list(num)
result = [value for value in values if value >= 50]

In [72]:
result

[50, 60, 70, 80, 90]

### square numbers from 1 to 10 by using list comprehension

In [80]:
values = range(1,11)
numbers = list(values)
squares = [value**2 for value in values if value >= 5]

In [81]:
squares

[25, 36, 49, 64, 81, 100]